footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.site-footer {
  background-color: #26272b;
  padding: 20px;
  margin-top: 32px;
}

.d-grid {
  display: grid;
}

.site-footer h3 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.c-light-gray {
  color: #737373;
}

.w-600 {
  max-width: 600px;
}

.p-r-25 {
  padding-right: 25px;
}
